#home
  %h1 Roman Dolgiy
  %br
  %p
    An energetic and experienced Python Developer with strong system administration skills. Skilled in Data Modeling, Object-Oriented Development and the MVC architecture. Driven to deliver functional, polished applications using the latest technologies.

  %p
    Able to manage small team. Familiar with Agile Methodology, like to automate everything (testing, deployment, server configuration, Continuous Integration).

  %p Django addicted. Love open source.

  / %p
  /   Last few months I was also working as a frontend developer using latest technologies such as Haml, Compass/Sass, CoffeeScript, Backbone.js.

  %p
    %a{ :href => "https://github.com/t0ster" } Github profile
    %br
    %a{ :href => "http://ua.linkedin.com/in/t0ster" } LinkedIn profile
  %p
    %a.btn.primary.large{ :href => "https://www.odesk.com/users/~~3323ae14fbd2b8ac" } Hire me on oDesk »
  %p
    %a.btn.primary.large{ :href => "http://dl.dropbox.com/u/407968/CV.pdf" }  Actual CV »
#privacy
  %p
    This policy covers how we use your personal information. We take your privacy seriously and will take all measures to protect your personal information.
  %p
    Any personal information received will only be used to fill your order. We will not sell or redistribute your information to anyone.

#refund
  %p
    If you are not 100% satisfied with your purchase, within 120 days from the purchase date, we will fully refund the cost of your order.