<div id='privacy'>
  <p>
    This policy covers how we use your personal information. We take your privacy seriously and will take all measures to protect your personal information.
  </p>
  <p>
    Any personal information received will only be used to fill your order. We will not sell or redistribute your information to anyone.
  </p>
</div>
<div id='refund'>
  <p>
    If you are not 100% satisfied with your purchase, within 120 days from the purchase date, we will fully refund the cost of your order.
  </p>
</div>
